*,
*::before,
*::after {
  box-sizing: border-box;
}

/* General Variables */
:root {
  --ff-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --clr-light: #fff;
  --clr-black: #000;
  --clr-dark: #151E2E;
  --clr-accent: #3EBDCA;
  --clr-gray: #F9FAFB;
  --clr-darkgray: #A4ACB7;

  --fs-h1: 2rem;
  --fs-h2: 2rem;
  --fs-h3: 1.1rem;
  --fs-body: 1rem;
  --fs-price: 2.5rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.15);
}

@media (min-width: 768px) {
  :root {
    --fs-h1: 2.5rem;
    --fs-h2: 2.1rem;
    --fs-h3: 1.2rem;
    --fs-body: 1.1rem;
  }
}

/* General styles */
body {
  background: var(--clr-dark);
  color: var(--clr-light);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 4em 2em 0;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 1px solid var(--clr-accent);
  outline-offset: 1px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 1em 0;
  background: var(--clr-light);
  color: var(--clr-accent);
  text-decoration: none;
  cursor: pointer;
  border: none;
  box-shadow: var(--bs);
  border-radius: .5em;
  width: 100%;
}

/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-reg);
}

h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: .5em;
}

.section__title--intro {
  font-weight: var(--fw-bold);
  line-height: 1.2;
}

.section__subtitle {
  margin: 0;
}

.section__subtitle--heading {
  text-transform: uppercase;
  font-size: var(--fs-h3);
}

.section__subtitle--intro {
  line-height: 1.2;
  padding: 0 2em;
}

/* Intro section */
.intro {
  text-align: center;
  max-width: 1150px;
  margin: 0 auto;
}

/* Services section */
.service {
  background-color: var(--clr-light);
  color: var(--clr-black);
  border-radius: .5em;
  text-align: center;
  margin: 2em 0;
}

.service:first-child {
  margin: 0;
}

.service__body--title {
  padding: 2em 1em 1em;
}

.service__body--title p {
  font-size: 1.3rem;
  color: var(--clr-darkgray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.service__body--title p strong {
  font-size: var(--fs-price);
  color: var(--clr-dark);
  margin-right: .3em;
}

.service__body--features {
  background-color: var(--clr-gray);
  padding: .5em 1em 1.5em;
  border-radius: 0 0 .5em .5em;
}

@media (min-width: 768px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service {
    margin: 0;
  }
}